<section class="banner">
    <img src="assets/images/banner3.png" alt="" />
    <div class="inner-content col-md-12">
      <div class="container jumboContainer">
        <div class="col-md-8 middle">
          <h1>
            <a routerLink="/conference/speakers" class="hero-link">
              View Speakers
            </a>
          </h1>
          <h1>
            <a routerLink="/conference/sessions" class="hero-link">
              View Sessions
            </a>
          </h1>
        </div>
      </div>
    </div>
  </section>